<div class="main-nav">
    <div class="home" (click)="openHome()" routerLink="/home-screen">
        <mat-icon class="home-outline">home</mat-icon>
        <span>Home</span>
    </div>
    <div class="exams" (click)="openExams()" routerLink="/exam-screen">
        <mat-icon class="des-outline">description</mat-icon>
        <span>Exams</span>
    </div>
    <div class="assignment" (click)="openAssignment()" routerLink="/assignment-screen">
        <mat-icon class="assign-outline">assignment_icon</mat-icon>
        <span>Assignments</span>
    </div>
    <div class="report" (click)="openReport()" routerLink="/report-screen">
        <mat-icon class="report-outline">insights</mat-icon>
        <span>Report</span>
    </div>
</div>