<div class="login-component">
    <div class="login-container">
        <div class="login-logo">
            <img src="assets/logo.png" alt="logo" class="logo-image">
        </div>
        <div class="login-user">
            <input type="text" class="login-username" placeholder="Username">
        </div>
        <div class="login-pass">
            <input type="text" class="login-password" placeholder="Password">
        </div>
        <div class="login-singed">
            <input type="checkbox" class="login-signed-in">
            <span style="color:white"> Keep me signed in </span>
        </div>
        <div class="d-grid gap-2 col-15 mx-auto" id="login-button">
            <button class="btn btn-primary" type="button" routerLink="/home-screen">login</button>
        </div>
    </div>
</div>